html{
	
	background-image: url(images/image1.jpg) no repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	font-family: sans-serif;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: rgba(0, 0, 1, .50);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:  30px 30px;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;

}
h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
h3
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
	
.loginbox a{
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	line-height: 30px;
	color: #7BCCB5;
}
.loginbox a:hover
{
	color: #ffc107;
}